.custom-border th, 
.custom-border td,
.custom-border tr {
  border: 2px solid #336799 !important ;
  border-color: #336799 !important; /* Ensures the border color applies to each cell */
}

a.friends-a:visited {
  color: white;
}

.friends-main {
  justify-content: flex-start;
}

.friends-header {
  margin-top: 2.5rem;
}

.friends-table {
  margin-bottom: 6rem;
}