.pyramid {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    margin-top: 20px;
    font-size: 0;
    margin-top: 8rem;
}

.log-header {
margin-top: 4rem;
margin-bottom: 10rem;
}
.row {
    display: flex;
    justify-content: center;
    margin-bottom: 0; 
    margin-top: 0;
    flex-direction: row;
    flex-wrap: nowrap !important;
}

.row > * {
    width: auto !important;
    padding-left: .001px!important;
    padding-right: .001px !important;
}

.log-main {
    justify-content: flex-start;
}

.climber-name {
    color: rgb(16, 135, 168);
    margin: 0 0.25em;
}
  
#climber-messages {
    padding-top: 0.25em;
    opacity: 0.7;
    position: fixed; 
    left: 0;         
    /* top: 0; */
}

.climber-event {
    color: rgb(165, 220, 235);
    margin: 0 0.25em;
}